{% extends "shared-component/index.html" %}
{% block title %} Login form {% endblock title %}
{% block content %}
    <div>
        <a href="{{ url_for('createNewEmployeeGET') }}" >Add a new employee</a>
        {% for employee in display_all_employees %}
            <div class="d-flex p-2 row">
                <div class="col-1">
                    {% if employee.profile_image_name %}
                        <img src="{{url_for('file', filename=employee['profile_image_name'])}}" width="50px" height="50px">
                    {% elif employee.gender == "Female" %}
                        <img src="{{ url_for('static', filename='img/female_avatar.jpg') }}" alt="alternate" width="50px" height="50px">
                    {% elif employee.gender == "Male" %}
                        <img src="{{ url_for('static', filename='img/male_avatar.jpg') }}" alt="alternate" width="50px" height="50px">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="alternate" width="50px" height="50px">
                    {% endif %}
                </div>
                <div class="col-4">
                    <div>
                        {{ employee.first_name }} {{ employee.last_name }}
                    </div>

                    <div>
                        {{ employee.role }}
                    </div>
                </div>
                <div class="col-1">
                    <a href="/editEmployee/{{ employee._id }}" >Edit</a>
                </div>

                <div class="d-flex p-2 col-4">
                    <div>
                        <div>
                            <div>
                                E-mail:
                            </div>
                            <div>
                                {{ employee.email_address }}
                            </div>
                        </div>

                         <div>
                            <div>
                                Phone Number:
                            </div>
                            <div>
                                {{ employee.phone_number }}
                            </div>
                        </div>

                         <div>
                            <div>
                                Department:
                            </div>
                            <div>
                                {{ employee.department }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                        <a href="#">{{ employee.department }}</a>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
