<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
</head>


<body>
    <div class="container-fluid">
        <div id="calendar"></div>
    </div>
    <div>
        <a href="/createnewEvent" class="btn btn-primary"></a>
    </div>
    <script>
        var calendarElement = document.getElementById("calendar");
        console.log("calendarElement:", calendarElement);

        var calendar = new FullCalendar.Calendar(calendarElement, {
            events: [
                {% for event in events %}
                {
                    id: '{{ event._id }}',
                    title: '{{event.title}}',
                    start: '{{event.start}}',
                    extendedProps: {
                        _id: '{{ event._id }}',
                        employee_id: {{ event.employee_id }},
                        old_start: '{{event.start}}',
                        end: '{{ event.end }}'
                     },
                },
                {% endfor %}
            ],

           timeZone: 'UTC',
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            editable: true,
            dayMaxEvents: true, // when too many events in a day, show the popover
              eventDrop: function(info) {
                alert(info.event.title + " was dropped on " + info.event.start.toISOString() + " "+ info.event.employee_id +  "  "+ info.event.employee_id);
                console.log(info);
                if (!confirm("Are you sure about this change?")) {
                  info.revert();
                }
                console.log("PARAMS: ", info, info.event.extendedProps);
                var eventData = {
                        title: info.event.title ,
                        start: info.event.start.toISOString()
                };
                eventData = {...eventData, ...info.event.extendedProps}

                //$.post('{{url_for("admin.return_data")}}', { 'title': info.event.title ,
                 //   'start': info.event.start.toISOString()} )

                $.ajax({
                type: "POST",
                url: '{{url_for("admin.return_data")}}',
                data: JSON.stringify({'eventData' : eventData}),
                contentType: "application/json",
                dataType: 'json',
                success: function(response) {
                    // do something
                    },
                error: function (xhr, status, error) {
                    console.log(error);
                    }
            });


              },
                eventClick: function(info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate
                    //window.open("https://www.google.com/");

              }
        });
        calendar.render();

    </script>
<!--            dateClick: function() {-->
<!--                alert('a day has been clicked!');-->
<!--            },-->
</body>
</html>