{% extends "shared-component/index.html" %}
{% block title %}New Event Creation {% endblock title %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <!--suppress XmlInvalidId -->
    <script>
        $(function() {
          $('.selectpicker').selectpicker();
        });
    </script>

    <style>
        .btn.dropdown-toggle.btn-default:after {
            content: none;
        }
    </style>

	<div>
        Edit Existing Event
        <form method="POST" action="/postAnExistingEvent/{{ fetched_data._id }}"  name="myForm">
            {{ form.csrt_token }}
            <div class="form-group pt-3 row">
                <div class="col-4">
                    <label for="" class="" >Employee Name</label>
                      <select class="form-control selectpicker" id="select-employee" data-live-search="true" name="employee_id">
                        {% for employee in display_all_employees %}
                            {% if employee._id %}
                                <option value="{{ employee._id }}" {% if  employee._id == fetched_data.employee_id %} selected="selected" {% endif %}>
                                    {{ employee.first_name }} {{ employee.last_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group pt-3 row">
                    <div class="col-4">
                        <label for="" class="" >Reporting Manager</label>
                        <select class="form-control selectpicker" id="select-manager" data-live-search="true" name="manager_id">
                            {% for manager in display_all_managers %}
                                <!-- <option selected>Open this select menu</option>-->
                                {% if manager._id %}
                                    <option value="{{ manager._id }}"
                                    {% if  manager._id == fetched_data.manager_id %} selected="selected" {% endif %}>{{ manager.manager_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-4">
                    {{ form.title.label }} {{ form.title(class="form-control", value=fetched_data['title'] ) }} {{ form.hidden_tag() }}
                </div>

                <div class="col-4">
                    {{ form.startdate.label }} {{ form.startdate(class="datepicker form-control", value=fetched_data['start'].split("T")[0] ) }} {{ form.hidden_tag() }}
                </div>
                <div class="col-4">
                    {{ form.enddate.label }} {{ form.enddate(class="datepicker form-control", value=fetched_data['end'].split("T")[0]) }} {{ form.hidden_tag() }}
                </div>

                <div class="col-4">
                    {{ form.start_at.label }} {{ form.start_at(class="form-control", value=fetched_data['start'].split("T")[1]) }} {{ form.hidden_tag() }}
                </div>

                <div class="col-4">
                    {{ form.end_at.label }} {{ form.end_at(class="form-control", value=fetched_data['end'].split("T")[1]) }} {{ form.hidden_tag() }}
                </div>
            </div>


            <div>
               {{ form.submit(class="btn btn-primary") }}
            </div>

            <div>
                <a class="btn btn-danger" href="/deleteEvent/{{ fetched_data._id }}">Delete the Event</a>
            </div>

            <div>
                <a class="btn btn-secondary" href="{{ url_for('admin.getFullCalendar') }}">Back</a>
            </div>

        </form>
    </div>

{% endblock content %}