{% extends "shared-component/index.html" %}
{% block title %}New Event Creation {% endblock title %}
{% block content %}
    <!--suppress XmlInvalidId -->
<div>
        Add New Event
        <form method="POST" action="/date"  name="myForm">
            {{ form.csrt_token }}
            {{ form.startdate.label }} {{ form.startdate(class="datepicker") }} {{ form.hidden_tag() }}
            {{ form.enddate.label }} {{ form.enddate(class="datepicker") }} {{ form.hidden_tag() }}
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>

{% endblock content %}