{% if session['first_name'] %}
    {% extends "shared-component/only_admin_header.html" %}
{% else %}
    {% extends "shared-component/index.html" %}
{% endif %}
{% block title %} EMS-Help {% endblock title %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/dcd863c3d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-color-border" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <b class="header-title float-left">What is Employee Management System?</b>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        An employee management system is a platform where all work-related as well as important personal
                        details of an employee is stored and managed in a secure way. By using this system, you can
                        manage admin activities in an easier and quicker way.

                        Employees are the pillar of any organization and an ideal employee management tool makes a big
                        difference to an organization.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <b>Home Page and Login Page</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        When you run the application, it will automatically directed to the HOME Page.
                        Already existing user can enter the username and password and can be logged in to the account.
                        If the user is admin user, then admin can enter his username and password and can be logged in
                        as admin user in to the account.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <b>Employee Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        When the user logged in to the account, it will directed them to the user home page which
                        will show the basic details of the user which includes email, department, job position. User
                        can click on the "Your Profile" option on the top right corner which shows all the
                        basic details of the user along with the personal details.
                        <b>Edit profile</b> - On the user home page user can click on edit details icon, that will take
                        them to edit user page. User can edit few details such as Personal details, Bank details,
                        Skills and Qualities. To update the other information they need to contact to admin to get the
                        details updated as they do not have rights to edit few details.
                        <b>Signup users</b> Admin can only add the new users to the account because admin have permissions to signup for new
                        users.
                        <b>Change Password</b> Users can change their passwords by clicking "Forgot Password" hyperlink
                        on the Login Page and can easily change their account password.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <b>Department Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        When the user logged in to the account, it will directed them to the user home page which
                        will show the basic details of the user which includes email, department, job position.
                        When user clicks on Department name (for eg- Research and Development Department) it will
                        re-directed to the edit department page which shows the details of the users which are under
                        that particular department. For instance - The hierarchy as follows- Director is having two
                        users i.e. Team Lead and Co-op. Then team lead is having three users (staffs). Below image is
                        for your reference-
                    <div class="container">
                    <div class="imgcontainer">
                    <img src="/static/img/department.jpg" alt="Avatar" class="avatar">
                    </div>
                    </div>
                </div>
            </div>

                <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <b>Admin Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Admin manages the overall profile of the user. Admin has rights to add new users and he
                        can edit the user's profile.
                    </div>
                </div>
            </div>
        </div>
    </div>


       <section class ="container">

        <div class ="accordion">
            <h2>Frequently Asked Questions</h2>
            <div class ="accordion-item" id="question1">
                <a class ="accordion-link" href = "#question1" style = "text-decoration: none">

                    <b>1. How will I access the new system?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                       The new EMS is a cloud/web based system, so you can access anywhere you have an internet connection.
                        You will use the URL to run the application. The new user will be added by the admin and username
                        and password will be provided by admin. The password will be changed by clicking on forgot password.
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question2">
                <a class ="accordion-link" href = "#question2" style = "text-decoration: none">
                    <b>2. Who do I contact if I forget my password?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        On the login page, there is usually a forgot password link.  You can click this link and follow
                        the on-screen instructions.  As a backup process, you can also contact admin and they will be
                        able to reset your password to your default and then when you log on again, you will be prompted
                        to change.  If you do not have this link, contact your system administrator.
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question3">
                <a class ="accordion-link" href = "#question3" style = "text-decoration: none">
                    <b>3. What if I need to change some of my personal information (i.e. banking information)?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        On the user home page user can click on edit details icon, that will take
                        them to edit user page. User can edit few details such as Personal details, Bank details,
                        Skills and Qualities. To update the other information they need to contact to admin to get the
                        details updated as they do not have rights to edit few details.
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question4">
                <a class ="accordion-link" href = "#question4" style = "text-decoration: none">
                    <b>4. What is the purpose of employee management software?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        Dedicated EMS helps in tracking and evaluating parameters like employee performance, goal tracking,
                        attendance, and so on. The software brings all your data under one roof.
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question5">
                <a class ="accordion-link" href = "#question5" style = "text-decoration: none">
                    <b>5. What do employee management systems do?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        It helps you manage employee with easy tracking and storing of workforce information.
                        The software keeps a track of data like leaves, punch records, performance, payments,
                        reimbursements, etc.
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question6">
                <a class ="accordion-link" href = "#question6" style = "text-decoration: none">
                    <b>6. What are the Benefits of an Employee Management System?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        <b>Benefits of an EMS are as follows-</b>

                            1. HR data analytics
                            2. Compliant HR
                            3. Secured data
                            4. Full proof payroll
                            5. Keeps track of leave and attendance
                            6. Reduces paperwork
                            7. Saves HR time
                            8. Zeroed errors
                    </p>

                </div>
            </div>

            <div class ="accordion-item" id="question7">
                <a class ="accordion-link" href = "#question7" style = "text-decoration: none">
                    <b>7. How do new users can signup?</b>
                    <i class ="icon ion-md-add"></i>
                </a>
                <div class ="answer">
                    <p>
                        New users can be added by the admin. As Admin has rights and permissions to add new users.
                    </p>

                </div>
            </div>

        </div>

    </section>
    <script>
        const faqs = document.querySelectorAll(".accordion");

        faqs.forEach(accordion => {
        accordion.addEventListener("click", () => {
        accordion.classList.toggle("active");
    });
});
    </script>

{% endblock content %}
