{% extends "shared-component/index.html" %}
{% block title %} Login form {% endblock title %}
{% block content %}
    <div>
        Add New Employee
        <form method="POST" action="/createNewEmployee"  enctype="multipart/form-data">
            <div>
                <!-- Firstname and lastname info-->
                <div class="d-flex row pt-3">
                    <div class="form-group col-4">
                        <label for="" class="" >First Name</label>
                        <input type="text" name="fName" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <label for="" class="" >Last Name</label>
                        <input type="text" name="lName" class="form-control"/>
                    </div>
                </div>

                <!-- Job Position -->
                <div class="row pt-3">
                    <div class="form-group col-4">
                        <label for="" class="" >Job Position</label>
                        <input type="text" name="jobPosition" class="form-control"/>
                    </div>
                </div>

                <!-- Email Address and Phone Number -->
                <div class="d-flex row pt-3">
                    <div class="form-group col-4">
                        <label for="" class="" >Email Address</label>
                        <input type="email" name="emailAddress" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <label for="" class="" >Phone Number</label>
                        <input type="tel" name="phoneNumber" class="form-control"/>
                    </div>
                </div>

                <!-- Upload Picture -->
                <div class="custom-file pt-3">
                    <label class="custom-file-label" for="customFile">Upload your picture</label>
                    <input type="file" class="custom-file-input" id="customFile" name="profile_image">
                </div>


                <div class="form-group pt-3 row">
                    <div class="col-4">
                        <label for="" class="" >Gender</label>
                        <select class="custom-select form-control" name="gender">
                            <option value="NotReadyToDeclare">Not ready to declare</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="form-group pt-3 row">
                    <div class="col-4">
                        <label for="" class="" >Job Position</label>
                        <select class="custom-select form-control" name="role_id">
                            {% for role in display_all_roles %}
                            <!-- <option selected>Open this select menu</option>-->
                            <option value="{{ role._id }}">{{ role.role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group pt-3 row">
                    <div class="col-4">
                        <label for="" class="" >Reporting Manager</label>
                        <select class="custom-select form-control" name="manager_id">
                            {% for role in display_all_managers %}
                            <!-- <option selected>Open this select menu</option>-->
                            <option value="{{ role._id }}">{{ role.manager_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex pt-3">

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for(came_from) }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

{% endblock content %}